.cont-2 {
border: 0px solid red;
width: 100%;
background-color: #D9EEE1;
color: black; 
padding-top: 32px;
padding-bottom: 32px;
margin-top: -10px;
display: flex;
justify-content: center; 
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
justify-content: space-evenly;
}

.cont-left2 {
  border: 0px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-left2 h1 {
  font-size: 80px;
  font-weight: 700;
  margin: -10px;
}

.cont-left2 p {
  font-size: 25px;
  font-weight: 600;
  margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.cont-2 button {
  font-size: larger;
  font-weight: 600;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.learn-btn {
  background-color: #04AA6D;
  color: white;
}

.learn-btn:hover {
  background-color: #059862;
}

.reference-btn {
  background-color: #282A35;
  color: white;
}

.reference-btn:hover{
  background-color: black;
}

.buy-btn {
  background-color: #FFC0C7;
}

.buy-btn:hover {
  background-color: #ffb3bb;
}

.vdieo-btn {
  background-color: #FFF4A3;
}

.vdieo-btn:hover {
  background-color: #fff080;
}




/* -------right---------------- */


.cont-right2 {
  border: 0px solid green;
  background-color: #E7E9EB;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  flex-direction: column;
  padding: 16px;
  padding-bottom: 0;
  height: 450px;
  width: 560px;
  border-radius: 10px;
}

.cont-right2 h3{
    margin: 10px 0;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}

.w3-code {
  background-color: white;
border-left: 4px solid #04AA6D;
margin-top: 16px;
margin-bottom: 16px;
padding-left: 2%;
padding-top: 1%;
}

.try-btn {
background-color: #04AA6D;
color: white;
cursor: pointer;
}

.try-btn:hover {
  background-color: #059862;
}