*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  border: 0px solid rgb(255, 0, 0);
  display: flex;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  width: 100%;
  height: 75px;
}



/* ---------------head left-------------------------- */



.left {
  border: 0px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 12px;
  padding-right: 16px;
}

.left p {
  border: 0px solid red;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
  cursor: pointer;  
  display: flex;
  align-items: center; 
  font-size: 18px;

}

.left p:hover {
  background-color: #04AA6D;
  color: white;
  transform: translate(0, 0);
}


.img-W3logo {
  width: 77px;
  height: 60px;
  padding: 8px 16px; 
  cursor: pointer; 
  margin-top: 5px;
}

.head img:hover{
  filter: contrast(70%);
}


.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgb(0, 0, 0);
    margin-left: 5px;
    margin-top: 3px;  
}

.left i:hover {
  border-top: 7px solid rgb(255, 255, 255);
}
  




/* -----------head right------------ */




.right {
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-dark {
  width: 32px;
  padding-right: 13px;
  cursor: pointer;
}

.right img:hover{
  filter: saturate(10%);
}

.img-globe {
  width: 30px;
  padding-right: 13px; 
  cursor: pointer;
}

.img-srch {
  height: 28px;
  padding-right: 5px;
  cursor: pointer;
}

.new {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-small;
  padding: 5px;
  padding-left: 13px;
  padding-right: 13px;  
  font-weight: bold;
  margin-left: -60px;
  cursor: pointer;  
}

.head-btn-get {
  background-color: #FFC0C7;
  color: black;
  border: none;
  border-radius: 20px;
  width: 105px;
  height: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  margin-right: 13px;
  cursor: pointer;
}

.head-btn-get:hover{
  background-color: #04AA6D;
color: white;
}


.head-btn-login {
    background-color: #04AA6D;
  color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 20px;
  width: 105px;
  height: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  margin-right: 13px;
  cursor: pointer;
}

.head-btn-login:hover{
  background-color: #059862;

}

.right p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  border: 0px solid red;
  border-radius: 20px;
  width: 105px;
  height: 40px;
}

.right p:hover{
  background-color: #04AA6D;
  color: white;
}






/* -------------BODY------------- */


.backgr-1 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #282A35;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  border: 0px solid rgb(255, 0, 0);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: large;
  font-weight: 500;
  letter-spacing: .5px;
}

.bck-1p {
  color: #FFC0C7;
  margin: 10px 0;
  margin-top: 30px;
  margin-bottom: 20px;
}


.input-btn {
  border: 0px solid green;
  justify-content: center;
  align-items: center;
  display: flex;  
  margin-bottom: 20px;
}


.backgr-1 div input{
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-weight: bold;
  font-size: 17px;
  width: 40%;
  padding-left: 25px;
  background: white;
  height: 45px ;
  width: 20%;
}

.backgr-1 div button{
  background-color: #04AA6D;
  border: 2px;
  width: 90px;
  height: 47px;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.backgr-1 div button:hover{
  background-color: #059862;
}

.backgr-1 img {
  width: 30px;
}

.bck-2p {
  text-decoration: underline;
  cursor: pointer;
}

.bck-2p:hover{
  color: #04AA6D;
}

.backgr-1 h1 {
  letter-spacing: 1px;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
}